<a href="https://colab.research.google.com/github/sgatheca/Moringa-Week-4-IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_03_Sammy_Mwangi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Moringa School Data Science Independent Project Week 4
By Sammy Mwangi

March 2021

##Autolib Electric Cars Sharing

### 1.1 Overview
Autolib was an electric car sharing service which was inaugurated in Paris, France, in 2011. It closed on 31 July 2018. It was operated by the Bolloré industrial group. The Autolib service maintained a fleet of all-electric Bolloré Bluecars for public use on a paid subscription basis, employing a citywide network of parking and charging stations. As of 3 July 2016, 3,980 Bluecars had been registered for the service and had more than 126,900 registered subscribers;  Autolib furthermore offered 1,084 electric car stations in Paris agglomeration with 5,935 charging points.
Our objective will be to identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

### 1.2 Business Objective
Our objective will be to identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
* Other objectives will be:
* Identify the most popular hour for returning cars
* Identify the most popular station
* Identify the most popular picking hour
* Identify the most popular postal code for picking up Blue cars
* Identify whether the most popular station belong to that postal code
* Compare the most popular picking hour considering Utilib and Utilib4 as * compared to Bluecars.

###1.3 Dataset
The dataset used in this analysis is [Autolib Dataset](http://bit.ly/autolib_dataset)

##2. Importing Libraries, Loading the dataset and Accessing Information about the Dataset

### 2.1 Importing Libraries

In [164]:
# IMPORTING PANDAS
import pandas as pd

# Importing Numpy
import numpy as np

# Importing Datetime
from datetime import datetime as dt

### 2.2 Loading the dataset

In [165]:
#Dataset url = http://bit.ly/Autolibdataset 
# We download the data and upload it to session storage
df = pd.read_csv('Autolib_dataset.csv')

###2.3 Previewing the dataset

In [166]:
# Let's preview the first 5 rows of our data
# 
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [167]:
# Let's preview the last 5 rows of our data
# 
df.tail(5)

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

### 2.4 Accessing Information about the Dataset
We might need to convert columns to the respective datatypes ie. if there are distance columns we could convert them from string to float. This observation can be made by accessing information about the dataset.

In [168]:
# Getting to know more about the dataset by accessing its information
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

##3. Cleaning the dataset

We will perform data cleaning procedures below providing a documentation for our actions.

###3.1 Validity

In [169]:
# Procedure 1: Irrelevant Observation
# Data Cleaning Action: Dropping columns 
# We drop Displayed comment, ID, Geo Point, Address, Scheduled at, and Cars columns
# Explanation:We do not need them or they do not in fit the context of the problem
#
df.drop(['Displayed comment', 'ID', 'Geo point','Address', 'Cars', 'Scheduled at'], axis = 1, inplace = True)
df.head(5)

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 19 columns]

In [170]:
# Procedure 2: Outliers
# Data Cleaning Action: checking for outliers using Interquartile Range Scores
# Explanation: We drop the outliers if any

Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)

IQR = Q3 - Q1

outliers=(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))
outliers.describe()

#There were no outliers

       Bluecar counter Charge Slots Charging Status  ... minute  month   year
count             5000         5000            5000  ...   5000   5000   5000
unique               1            2               1  ...      1      1      1
top              False        False           False  ...  False  False  False
freq              5000         4006            5000  ...   5000   5000   5000

[4 rows x 19 columns]

###3.2 Accuracy
The data had no accuracy issues

### 3.3 Completeness

In [171]:
# Procedure: Checking/ Counting Missing Values 
# Checking if there is any missing value across each column
# Our dataframe has no missing values
df.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

### 3.4 Consistency

In [172]:
# Procedure: Duplicates
# Data Cleaning Action: No duplicates in our dataset
# Explanation:
#
df.duplicated().any()

False

###3.5 Uniformity

In [173]:
# Date Type Conversion
# Merging year, month and day as date.
df['dateint'] =df['year'].astype(str) + df['month'].astype(str).str.zfill(2) + df['day'].astype(str).str.zfill(2)
df['date']=pd.to_datetime(df['dateint'])

In [174]:
# Dropping Year and month and minute and dateint columns
# These columns are not required
df = df.drop(['month','year','day','minute','dateint'],axis=1)
df.head(3)

   Bluecar counter  Utilib counter  ...  hour       date
0                0               0  ...    11 2018-04-08
1                6               0  ...     7 2018-04-06
2                3               0  ...    20 2018-04-03

[3 rows x 16 columns]

##4. Data Analysis

###4.1 The most popular hour of the day for picking up a shared electric car

In [175]:
#To get the most popular hour of the day for picking up a shared electric car, 
# This is the time that there is maximum number of cars available
rental_status=df[df['Rental status']=='operational']
tables=pd.pivot_table(rental_status,values=['Bluecar counter','Utilib counter','Utilib 1.4 counter'],index=['hour'],aggfunc=np.sum)
tables

      Bluecar counter  Utilib 1.4 counter  Utilib counter
hour
0                 483                  27              12
1                 493                  25              14
2                 559                  25              15
3                 549                  36              15
4                 512                  24               6
5                 552                  34              17
6                 608                  31              15
7                 555                  29              17
8                 472                  19              19
9                 515                  31              13
10                475                  29              11
11                502                  18              15
12                491                  17               7
13                537                  23              14
14                418                  31              14
15                449                  20              12
16                463                  27               9
17                432                  26              12
18                427                  22              15
19                387                  27               8
20                411                  21               9
21                503                  25              13
22                441                  30              14
23                434                  18               2

In [177]:
# We now get the most popular hour for picking a car

sum_cars = tables['Bluecar counter'] +tables['Utilib 1.4 counter'] + tables['Utilib counter']
tables['total_cars'] = sum_cars
tables.sort_values(by='total_cars',ascending=0).head(1)

      Bluecar counter  Utilib 1.4 counter  Utilib counter  total_cars
hour
6                 608                  31              15         654

###4.2 The most popular hour for returning cars

In [178]:
# Best time to return a car is when there are maximum slots

return_time = pd.pivot_table(df,values=['Slots'],index=['hour'],aggfunc=np.sum)
return_time.sort_values(by='Slots',ascending=1).head(1)

      Slots
hour
17      349

###4.3 The most popular station

In [179]:
# The popular station is the station with the highest number of cars available
#

df['Total_Available'] = df['Bluecar counter'] + df['Utilib counter'] +df['Utilib 1.4 counter']
df.pivot_table(values=['Total_Available'],index=['Public name'],aggfunc=np.sum).sort_values(by='Total_Available',ascending=0).head(1)

                                       Total_Available
Public name
Fontenay-aux-Roses/Robert Marchand/32               50

###4.4 The most popular picking hour

In [180]:
# the most popular picking hour.
# we use our previously created tables dataframe in Section 4.1 and sort the table with the most

tables.total_cars.nsmallest(1)

hour
19    422
Name: total_cars, dtype: int64

###4.5 The most popular postal code and Station for picking up Blue cars

In [181]:
#lets group our data by postal code for picking a bluecar and station
# This is where there is maximum number of bluecars

df.pivot_table(values='Bluecar counter',index=['Postal code','Public name'],aggfunc=np.sum).sort_values(by='Bluecar counter',ascending=0).head(1)

                                                   Bluecar counter
Postal code Public name
92260       Fontenay-aux-Roses/Robert Marchand/32               50

###4.6  The most popular picking hour considering Utilib and Utilib4 as compared to Bluecars.

In [182]:
#The most popular hour is when there are the least number of cars
tables.columns = ['Bluecar', 'Utilib', 'Utilib_1_4', 'Total_Cars']
popular_hour_bluecar = tables.Bluecar.nsmallest(1)
popular_hour_utilib = tables.Utilib.nsmallest(1)
popular_hour_utilib_1_4 = tables.Utilib_1_4.nsmallest(1)
print(popular_hour_bluecar)
print(popular_hour_utilib)
print(popular_hour_utilib_1_4)

hour
19    387
Name: Bluecar, dtype: int64
hour
12    17
Name: Utilib, dtype: int64
hour
23    2
Name: Utilib_1_4, dtype: int64

##5. Conclusion and Recommendations

From our analysis, we recommend that the users can pick the cars at the most popular time which is 6AM and recommend to the service providers to add more vehicles at that time.

Since the most popular station was Fontenay-aux-Roses/Robert Marchard/32, we recommend having more slots in that station. The most popular time for returning cars is 17HRS, we, therefore, recommend having advertising agencies run adverts at that hour in the parking slots.
Comparing the most popular picking hour considering Utilib and Utilib4 as compared to Bluecars, each car type had different popular picking hours. The most popular picking hour for Bluecar was 19HRS, Utilib was 12HRS and Utilib 1.4 was 23HRS. We therefore recommend to users to select the type of car depending on availability.